body {
    background-color: #ECE9E3;
    /*#E3BD81;*/
}

.navbar {
    background-color: #47357D;
}
h1 {
    font-size: 2rem;
    display: inline;
    color: #ECE9E3;
    text-align: center;
    margin: 15px;
    vertical-align: middle;
    font-family: monospace;
    font-weight: bold;
}
